.movies__list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    justify-content: center;
    justify-items: center;
    grid-column-gap: 28px;
    grid-row-gap: 32px;
    padding: 70px 70px 10px;
}

.movies__text-result{
    font-size: 22px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

@media screen and (max-width: 800px) {
    .movies__list{
        grid-template-columns: repeat(auto-fit, minmax(342px, 1fr));
        grid-column-gap: 24px;
        grid-row-gap: 35px;
        padding: 70px 30px 30px;
    }
}

@media screen and (max-width: 450px) {
    .movies__list{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-column-gap: 0;
        grid-row-gap: 16px;
        padding: 40px 10px 30px;
    }
}