.movies{
    max-width: 1280px;
    display: grid;
    grid-template-columns: repeat(1, 1280px);
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    margin: 0 auto;
    padding: 0;
}

@media screen and (max-width: 800px) {
    .movies{
        grid-template-columns: repeat(1, 768px);
    }
}

@media screen and (max-width: 450px) {
    .movies{
        grid-template-columns: repeat(1, 320px);
    }
}