.profile {
    display: flex;
    justify-content: center;
}

.profile__form {
    max-width: 410px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 74px 0 70px;
}

.profile__title{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

.profile__inputs {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2px;
    margin: 123px 0 220px;
}

.profile__text {
    width: 100%;
    margin: 0;
    padding: 0 0 16px;
    font-size: 11px;
    font-weight: 500;
    line-height: 13px;
    box-sizing: border-box;
    border-bottom: 1px solid #E8E8E8;
}

.profile__text:first-of-type {
    grid-row: 1;
    grid-column: 1;
}

.profile__text:last-of-type {
    grid-row: 2;
    grid-column: 1;
    padding: 16px 0 0;
    border: none;
}

.profile__area {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom: 1px solid #E8E8E8;
}
  
.profile__area:last-of-type {
    border: none;
}
  
.profile__area_type_name {
    grid-row: 1;
    grid-column: 2;
}
  
.profile__area_type_email {
    grid-row: 2;
    grid-column: 2;
    justify-content: flex-end;
    padding: 16px 0 0;
}

.profile__info{
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    text-align: right;
    border: none;
}

.profile__edit{
    text-decoration: none;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    text-align: center;
    margin-bottom: 16px;
}

.profile__edit:hover{
    cursor: pointer;
    opacity: .6;
}

.profile__exit{
    text-decoration: none;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #FF3055;
}

.profile__exit:hover{
    cursor: pointer;
    opacity: .6;
}

@media screen and (max-width: 800px) {
    .profile__form{
        padding: 236px 30px 269px;
    }

    .profile__inputs {
        margin: 96px 0 210px;
    }
}

@media screen and (max-width: 450px) {
    .profile__form{
        padding: 70px 0 40px;
    }

    .profile__inputs {
        width: 260px;
        margin: 80px 0 379px;
        padding: 0 30px;
    }

    .profile__edit{
        font-size: 12px;
        line-height: 15px;
    }

    .profile__exit{
        font-size: 12px;
        line-height: 15px;
    }
}