.portfolio{
    max-width: 1280px;
    min-width: 290px;
    padding: 0 70px 125px;
}

.portfolio__title{
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #A0A0A0;
    margin: 0 0 30px;
    mix-blend-mode: normal;
}

.portfolio__list-content{
    max-width: 1140px;
}

.portfolio-content{
    padding-top: 20px;
    border-bottom: 1px solid #E8E8E8;
}

.portfolio-content__link{
    display: flex;
    padding-bottom: 19px;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
    color: #000000;
    text-decoration: none;
    background: url('../../images/portfolio.svg') no-repeat;
    background-position: center right;
    background-size: 29px;
}

.portfolio-content__link:hover{
    opacity: .6;
    cursor: pointer;
}

.portfolio-content__logo{
    width: 29px;
    height: 29px;
    justify-content: center;
}

.portfolio-content:last-of-type{
    border-bottom: none;
}

@media screen and (max-width: 800px) {
    .portfolio{
        padding: 0 50px 90px;
    }

    .portfolio-content{
        padding-top: 20px;
        border-bottom: 1px solid #E8E8E8;
    }

    .portfolio-content__link{
        font-size: 28px;
    }   
}

@media screen and (max-width: 530px) {
    .portfolio{
        padding: 0 14px 70px;
    }

    .portfolio__title{
        font-size: 14px;
        line-height: 20px;
    }

    .portfolio-content{
        padding-top: 20px;
    }

    .portfolio-content__link{
        font-size: 18px;
        line-height: 28px;
        background-size: 18px;
    }
}

@media screen and (max-width: 450px) {
    .portfolio{
        padding: 0 10px 70px;
    }

    .portfolio__title{
        font-size: 14px;
        line-height: 20px;
    }

    .portfolio-content{
        padding-top: 20px;
    }

    .portfolio-content__link{
        font-size: 17px;
        line-height: 28px;
    }
}