.search{
    max-width: 1280px;
    margin: 80px 70px 10px;
    border-bottom: solid 1px #E8E8E8;
}

.search__box{
    display: flex;
    flex-direction: row;
}

.search__form {
    display: contents;
    max-width: 1038px;
  }

.search__input{
    width: 100%;
    height: 48px;
    background: #F9F9F9;
    border-radius: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #A0A0A0;
    border: none;
    padding-left: 22px;
    padding-right: 0;
}

.search__input:hover{
    cursor: pointer;
}

.search__input:focus{
    color: #ffffff;
    outline: 1px solid #F9F9F9;
    background-color: #4e6fff;
}

.search__button{
   width: 70px;
   height: 44px;
   background: #3456F3;
   border-radius: 40px;
   border: none;
   font-weight: 500;
   font-size: 12px;
   line-height: 18px;
   text-align: center;
   color: #FFFFFF;
   margin-left: 10px;
   padding: 0;
}

.search__button:hover{
    opacity: .6;
    cursor: pointer;
}

.search__toggle {
    display: flex;
    justify-content: center;
}

.search__tumbler {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
    filter: drop-shadow(0 2px 2px white);
    cursor: pointer;
    margin-top: 30px;
}

.search__checkbox{
   display: none;
}

.search__slider {
    position: absolute;
    inset: 0;
    background-color: #2be080;
    border-radius: 16px;
    transition: .6s;
    transform: scale(-1, -1);
}

.search__slider::before {
    position: absolute;
    content: '';
    height: 16px;
    width: 16px;
    left: 1px;
    bottom: 1px;
    border: 1px solid #2be080;
    border-radius: 50%;
    background-color: white;
}

.search__checkbox:checked+.search__slider {
    background-color: white;
}

.search__checkbox:checked+.search__slider::before {
    transform: translateX(16px);
    background-color: #2be080;
}

.search__films{
    margin: 31px 12px 40px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    font-style: normal;
}

@media screen and (max-width: 800px) {
    .search{
        margin: 80px 30px 10px;
    } 
}

@media screen and (max-width: 450px) {
    .search{
        margin: 81px 14px 10px;
    }

    .search__input{
        padding-left: 16px;
        height: 44px;
        font-size: 12px;
    } 
}