.header__main{
    background-color: #073042;
    color: #FFFFFF;
    display: flex;
    max-width: 1280px;
}

.header__buttons{
    margin-right: 0;
    height: 32px;
    display: flex;
    margin-left: 0;
    margin-top: 21px;
    justify-content: center;
    align-items: center;
}

.header__register{
    margin: 0;
    color: #FFFFFF;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}

.header__register:hover{
    cursor: pointer;
    opacity: 0.7;
}

.header__login{
    background: #2BE080;
    border-radius: 3px;
    border: none;
    width: 76px;
    height: 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin-left: 30px;
}

.header__login:hover{
    cursor: pointer;
    opacity: 0.7;
}

@media screen and (max-width: 800px) {
    .header__buttons{
        margin-left: 487px;
        margin-right: 30px;
    }
}

@media screen and (max-width: 450px) {
    .header__buttons{
        margin-left: 122px;
        margin-right: 14px;
    }

    .header__register{
        font-size: 10px;
    }

    .header__login{
        width: 54px;
        height: 26px;
        font-size: 10px;
        margin-left: 14px;
    }
}